.carousel-promo{
    position: relative;
    /* overflow: hidden; */
    margin-bottom: 76px;
    /* padding: 0 6px; */
    min-height: 305px;
    margin-left: -15px;
    margin-right: -15px;
    &__item{
        margin: 0 15px;
    }
    
    &__subtitle{
        font-size: 100px;
        font-weight: 900;
        text-align: left;
        color: #ffffff;
        line-height: 1.1;
        margin-bottom: 49px;
    }
    &__descr{
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #a8a8a8;
        line-height: 1.5;
    }
 
    .slick-slide:active, .slick-slide:focus {
        outline: none;
    }
    .slick-prev,.slick-next{
        position: absolute;
        left: -80px;
        top: 111px;
        background:none;
        border: none;
        img{
            width: 35px;
            height: 25px;
            object-fit: contain;
            
        }
        
    }
    .slick-next{
        left: 1585px;
        top: 111px;

    }
    
}

.service__carousel{
    position: relative;
    .slick-prev,.slick-next{
        z-index: 5;
        position: absolute;
        background:none;
        border: none;
        top:50%;
        left: 0px;
    }
    .slick-next{
        left: auto;
        right: 0;
    }
    .slick-slide:active, .slick-slide:focus {
        outline: none;
    }
}

.carousel-suggest {
    max-width: 1530px;
    height: 425px;
    margin: 140px 0 0 0 ;
    display: flex;
    &__item {
        position: relative;
        height: 295px;
        width: 360px;
        margin: 0 30px 0 0;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .slick-slide:active, .slick-slide:focus {
        outline: none;
    }
    .slick-list {
        display: flex;
        margin: 0 -27px 0 0;
        overflow: hidden;
        height: 100%;
        align-items: center;
    }
    .slick-track{
        height: 100%;
        display: flex;
        align-items: center;
        .item-2{
            align-self: flex-start;
        }
        .item-4{
            align-self: flex-end;
        }
    }
    .slick-slideslick-slide{
        height: 295px;
        width: 360px;
    }
    .slick-prev, .slick-next{
        z-index: 3;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: -56px;
        border: none;
        background:none;
        img{
            width: 31px;
            height: 23px;
        }
    }
    .slick-next{
        right: -77px;
        left: auto;
    }
}
.suggest__counter {
    position: relative;
    margin-top: 50px;
    width: 265px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .slick-track{
        overflow: hidden;
        padding: 0 0.5px;
    }
    &-current {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        font-weight: 900;
        color: #ffffff;
    }

    &-max {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #a8a8a8;
    }
    .slick-dots {
        display: flex;
        min-width: 147px;
        justify-content: space-between;
        transition: all 0.5s;
        li {
            list-style: none;
            display: flex;
            align-items: center;
            background-color:$color_text;
            opacity: 0.15;
            border-radius: 1.5px;
            button {
                font-size: 0;
                width: 25px;
                height: 3px;
                opacity: 0.15;
                background-color:none;
                
            }
        }
        li.slick-active{
            opacity: 1;
            button{
                width: 34px;
            }
        }
    }
}
