@media (max-width: 1920px){
    .container{
        max-width: 1530px;
    }
}


@media (max-width: 1600px){
    .container{
       max-width: 1140px;
    }
    .promo{
        &__wrapper{
            .promo__right{
                display: none;
            }
            .promo__left{
                .carousel-promo__subtitle{
                    font-size: 72px;
                }
            }
        }
    }
    .service {
        &__wrapper{
            .service__right{
                &-wrapper{
                    width: 570px;
                }
            }
            .service__carousel{
               &-item{
                   .service__carousel-img{
                       width: 570px;
                       height: 576px;
                   }
               }
            }
            .service__right-btns{
                .btn{
                    width: 252px;
                    &_blue{
                        width: 285px;
                    }   
                }
            }
        }
        .carousel-suggest{
            .slick-list{
                margin: 0px -21px 0 0;
            }
       /*      &__item{

            } */
        }

        
    }
    

}

@media (max-width: 1200px){
    .container{
       max-width: 960px;
    }
    .promo{
        &__wrapper{
            .promo__left{
                /* overflow: hidden; */
                width: 70%;
            }
        }
    }
    .overlay{
        .modal{
            width: 898px;
            min-height: 480px;
            padding: 75px 26px;
        }
    }
    .service {
        &__wrapper{
            flex-direction: column;
            .service__right{
                align-self: center;
                width: 720px;
                &-wrapper{
                    width: 720px;
                }
            }
            .service__left{
                align-self: center;
                width: 720px;
                &-title{
                    margin-top: 90px;
                }
                &-subtitle{
                    margin-top: 25px;
                }
                &-descr{
                    margin-top: 40px;
                    width: 720px;
                }
            }
            .service__carousel{
               &-item{
                   .service__carousel-img{
                       width: 720px;
                       height: 535px;
                   }
               }
            }
            .service__right-btns{
                .btn{
                    width: 260px;
                    &_blue{
                        width: 330px;
                    }   
                }
            }
        }
        .carousel-suggest{
            margin: 0 0 0 0;
            .slick-list{
                margin: 0px -21px 0 0;
            }
            &__item{
                width: 342px;
                height: 280px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
       
        }
      

        
    }
}

@media (max-width: 992px){
    .container{
       max-width: 720px;
    }
    .promo{
        background: url('../img/promo/promo-bg.png')no-repeat 60%/cover;
        .cut{
            display: none;
        }
        .header__wrapper{
            width: 400px;
        }
        &__menu{
            .menu__list{
                justify-content: space-between;
                .menu__item{
                    margin-right: 0;
                }
            }
        }
        &__wrapper{
            .promo__left{
                width: 99%;
            }
        }
    }
    .overlay{
        .modal{
            display: block;
            width: 720px;
            padding: 50px 60px;
            &__descr{
                font-size: 25px;
            }
            &__title{
                font-size: 52px;
                margin-top: 34px;
            }

            .form-record{
                margin-top: 48px;
                display: grid;
                width: 600px;
                grid-template: repeat(2, 75px) / repeat(2, 285px);
                column-gap: 30px;
                row-gap: 22px;
                &__input{
                    
                    input{
                        width: 100%;
                        background: linear-gradient(to right,#e5cd8e 0,#e5cd8e 11%,transparent 8%,transparent 37%,#e5cd8e 37%,#e5cd8e 100%);
                        background-size: 100% 1px,100% 1px,1px 100%,1px 100%;
                        background-position: 0 0,0 100%,0 0,100% 0;
                        background-repeat: no-repeat;
                    }
                    
                }
                &__input_num{
                    input{
                        width: 100%;
                        background: linear-gradient(to right,#e5cd8e 0,#e5cd8e 10%,transparent 8%,transparent 53%,#e5cd8e 46%,#e5cd8e 100%);
                        background-size: 100% 1px,100% 1px,1px 100%,1px 100%;
                        background-position: 0 0,0 100%,0 0,100% 0;
                        background-repeat: no-repeat;
                    }
                }
                &__btn{
                    grid-column: 1/3;
                    .btn{
                        width: 100%;
                    }
                }
            }
        }
    }
    .service {
        &__wrapper{
            flex-direction: column;
            .service__right{
                align-self: center;
                width: 720px;
                &-wrapper{
                    width: 720px;
                }
            }
            .service__left{
                align-self: center;
                width: 720px;
                &-title{
                    margin-top: 90px;
                }
                &-subtitle{
                    margin-top: 25px;
                }
                &-descr{
                    margin-top: 40px;
                    width: 720px;
                }
            }
            .service__carousel{
               &-item{
                   .service__carousel-img{
                       width: 720px;
                       height: 535px;
                   }
               }
            }
            .service__right-btns{
                .btn{
                    width: 260px;
                    &_blue{
                        width: 330px;
                    }   
                }
            }
        }
        .carousel-suggest{
            margin: 0 0 0 0;
            .slick-list{
                margin: 0px -21px 0 0;
            }
            &__item{
                width: 342px;
                height: 280px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
       
        }
      /*   .service {
            &__counter-wrapper {

            }
        } */
    }
    .service__counter-wrapper{
        .suggest__counter{
            width: 330px;
            .slick-dots{
                min-width: 240px;
            }
        /*     &-current{

            } */
        }
    }
}
@media (max-width: 768px){
    .container{
       max-width: 540px;
    }
    .promo{
        background: url(../img/promo/promo-table.png) center (center / cover) no-repeat;
        .header{
            &__logo-descr{
                font-size: 18px;
                margin-left: 13px;
                span{
                    font-size: 13px;
                }
            }
            .header__logo{
                height: 46px;
                img{
                    width: 46px;
                }
            }
            &__wrapper{
                width: 321px;
                .header__address{
                    font-size: 18px;
                    span{
                        font-size: 13px;
                    }
                }
                .header__phone{
                    font-size: 16px;
                    width: 170px;
                    :before{
                        left: 0px;
                        top: 0;
                    }
                    span{
                        font-size: 13px;
                    }
                }
            }
            
        }
        &__wrapper{
            .promo__left{
                .carousel-promo__subtitle{
                    font-size: 60px;
                }
            }
        }
        .menu__list{
            .menu__item{
                font-size: 16px;
            }
        }
    }
    .overlay {
        .modal {
            width: 406px;
            padding: 45px 18px;
            &__descr{
                font-size:20px;
                line-height: normal
            }
            &__title{
                font-size: 39px;
                margin-top: 36px;
            }
            .form-record {
                margin-top: 43px;
                width: 370px;
                grid-template:repeat(3, 75px) / 370px ;
                &__btn {
                    grid-column: 1/2;
                }
                &__input{
                    input{
                        background: linear-gradient(to right,#e5cd8e 0,#e5cd8e 8%,transparent 8%,transparent 29%,#e5cd8e 22%,#e5cd8e 100%);
                        background-size: 100% 1px,100% 1px,1px 100%,1px 100%;
                        background-position: 0 0,0 100%,0 0,100% 0;
                        background-repeat: no-repeat;
                    }
                   
                }
                &__input_num{
                   input{
                        background: linear-gradient(to right,#e5cd8e 0,#E5CD8E 8%,transparent 8%,transparent 41%,#e5cd8e 39%,#e5cd8e 100%);
                        background-size: 100% 1px,100% 1px,1px 100%,1px 100%;
                        background-position: 0 0,0 100%,0 0,100% 0;
                        background-repeat: no-repeat;
                   }
                }
            }
        }
        
    }
    .service {
        background:url(../img/service/bg-table.png) center (center / cover) no-repeat !important; 
        &__wrapper{
            flex-direction: column;
            .service__right{
                align-self: center;
                width: 540px;
                &-wrapper{
                    width: 540px;
                }
            }
            .service__left{
                align-self: center;
                width: 540px;
                &-title{
                    font-size: 25px;
                    margin-top: 90px;
                }
                &-subtitle{
                    font-size: 52px;
                    margin-top: 25px;
                }
                &-descr{
                    font-size: 16px;
                    margin-top: 40px;
                    width: 540px;
                }
            }
            .service__carousel{
               &-item{
                   .service__carousel-img{
                       width: 540px;
                       height: 535px;
                   }
               }
               &-descr{
                   width: 270px;
               }
            }
            .service__right-btns{
                .btn{
                    width: 230px;
                    padding: 0 40px;
                    &_blue{
                        width: 283px;
                    }   
                }
            }
        }
        .carousel-suggest{
            margin: 0 0 0 0;
            .slick-list{
                margin: 0px -21px 0 0;
            }
            &__item{
                width: 342px;
                height: 280px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
       
        }
    }
    .service__counter-wrapper{
        .suggest__counter{
            width: 330px;
            .slick-dots{
                min-width: 240px;
            }
          /*   &-current{

            } */
        }
    }
}

@media (max-width: 576px){
    .container{
       width: 100%;
       padding: 0 10px;
    }
    .promo{
        background: url(../img/promo/promo-table.png) no-repeat 89% / cover;
        .header{
            height: 46px;
            &__wrapper{
                display: none;
            }
            &__humburger{
                display: flex;
                cursor: pointer;
            }
        }
        &__wrapper{
            margin-top: 83px;
           .promo__left{
                .promo__title{
                    font-size: 20px;
                }
                &-wrap{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .btn{
                        margin: 0 auto;
                    }
                    .promo__counter{
                        margin: 50px auto 0 auto;
                    }
                }
                .carousel-promo{
                    margin-bottom: 223px;
                    &__subtitle{
                        font-size: 36px;
                    }
                    &__descr{
                        font-size: 14px;
                    }
                }
           }
        }
        &__menu{
            display: none;
        }
    }
    .overlay{
        
        .modal{
            width: 300px;
            &__close{
                right: 16px;
                top: 6px;
            }
            &__title{
                margin-top: 20px;
            }
            .form-record{
                margin-top: 35px;
                width: 270px;
                grid-template: repeat(3,75px)/270px;
                &__input{
                    input{
                        background: linear-gradient(to right,#e5cd8e 0,#e5cd8e 11%,transparent 8%,transparent 40%,#e5cd8e 22%,#e5cd8e 100%);
                        background-size: 100% 1px,100% 1px,1px 100%,1px 100%;
                        background-position: 0 0,0 100%,0 0,100% 0;
                        background-repeat: no-repeat;
                    }
                }
                &__input_num{
                    input{
                        background: linear-gradient(to right,#e5cd8e 0,#e5cd8e 11%,transparent 8%,transparent 56%,#e5cd8e 39%,#e5cd8e 100%);
                        background-size: 100% 1px,100% 1px,1px 100%,1px 100%;
                        background-position: 0 0,0 100%,0 0,100% 0;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    .service {
        background:url(../img/service/bg-table.png) center (center / cover) no-repeat !important; 
        &__wrapper{
            flex-direction: column;
            .service__right{
                align-self: center;
                width: 100%;
                &-wrapper{
                    width: 100%;
                    min-height: 580px;
                }
            }
            .service__left{
                align-self: center;
                width: 100%;
                &-title{
                    font-size: 25px;
                    margin-top: 90px;
                }
                &-subtitle{
                    font-size: 39px;
                    margin-top: 30px;
                }
                &-descr{
                    font-size: 16px;
                    margin-top: 55px;
                    width: 100%;
                }
            }
            .service__carousel{
                .slick-prev,.slick-next{
                    top: 30%;
                }
               &-item{
                   .service__carousel-img{
                        width: 89%;
                        height: 387px;
                        img{
                            width: 100%;
                            height: 65%;
                        }
                   }
               }
               &-wrapper{
                   flex-direction: column;
                    bottom: 0;
                }
               &-descr{
                   font-size: 20px;
                   min-height: 90px;
                   width: 280px;
                   span{
                        line-height: normal;
                        font-size: 16px;
                    }
               }
               &-price{
                   font-size: 20px;
                   align-items:end;
                   margin-top: 30px;
                   span{
                       font-size: 14px;
                   }
                }
            }
            .service__right-btns{
                flex-direction: column;
                margin-top: 35px;
                .btn{
                    width: 100%;
                    padding: 0 35px;
                    &_blue{
                        margin-top: 10px;
                        width: 100%;
                    }   
                }
            }
        }
        .carousel-suggest{
            margin: 0 0 0 0;
            .slick-list{
                margin: 0px -21px 0 0;
            }
            &__item{
                width: 342px;
                height: 280px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
       
        }
    }
    .service__counter-wrapper{
        .suggest__counter{
            width: 300px;
            .slick-dots{
                min-width: 220px;
            }
          /*   &-current{

            } */
        }
    }
}


