.promo {
    position: relative;
    height: 976px;
    padding: 67px 0;
    background: url(../img/promo/promo-bg.png) center (center / cover) no-repeat;
    &__header {
        display: flex;
        flex-direction: row;
        height: 54px;
        justify-content: space-between;
    }

    .header {
        &__humburger{
            width: 30px;
            height: 35px;
            display: flex;
            flex-direction: column;
            justify-content:space-between ;
            span{
                width: 26px;
                height: 2px;
                background-color: $color_text;
            }
            span.small{
                width: 16px;
            }
            span.long{
                width: 21px;
            }
            display: none;
        }
        &__logo {
            display: flex;
            flex-direction: row;
            width: 275px;
            text-decoration: none;

            &-img {
                width: 54px;
                height: 100%;
                object-fit: contain;
            }

            &-descr {
                display: block;
                font-size: 24px;
                font-weight: 900;
                color: #ffffff;
                font-style: normal;
                margin-left: 20px;

                span {
                    font-size: 16px;
                    font-weight: bold;
                    color: #a8a8a8;
                }
            }

        }

        &__wrapper {
            width: 495px;
            display: flex;
            justify-content: space-between;
        }

        &__address {
            position: relative;
            text-align: right;
            font-size: 24px;
            font-weight: 900;
            color: #ffffff;

            ::before {
                content: '';
                position: absolute;
                background-image: url(../icons/header/adress.png);
                height: 32px;
                width: 25px;
                left: -10px;
                top: -7px;
            }

            span {
                font-size: 16px;
                font-weight: bold;
                color: $color_text;
            }
        }

        &__phone {
            position: relative;
            width: 200px;
            text-align: right;
            font-size: 24px;
            font-weight: 900;
            color: #ffffff;
            text-decoration: none;

            :before {
                content: '';
                position: absolute;
                background-image: url(../icons/header/tel.png);
                width: 25px;
                height: 25px;
                left: -34px;
                top: 0;

            }

            span {
                font-size: 16px;
                font-weight: bold;
                color: $color_text;
            }
        }
    }

    .menu {
        margin-top: 62px;
        height: 17px;

        &__list {
            display: flex;
            flex-direction: row;
            list-style-type: none;

            li {
                margin-right: 45px;
                font-size: 18px;
                font-weight: bold;
                color: #ffffff;

                a {
                    text-decoration: none;
                    color: #ffffff;
                }

            }
        }

    }

    &__wrapper {
        margin-top: 100px;
        display: flex;

        .promo__left {
            position: relative;
            width: 54%;

            .promo__title {
                font-size: 30px;
                font-weight: 600;
                color: $color_text;
                margin-bottom: 25px;
            }
            .promo__counter {
                position: relative;
                margin-top: 50px;
                width: 265px;
                height: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .slick-track{
                    overflow: hidden;
                    padding: 0 0.5px;
                }
                &-min {
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-size: 18px;
                    font-weight: 900;
                    color: #ffffff;
                }
    
                &-max {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 18px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.44;
                    letter-spacing: normal;
                    text-align: left;
                    color: #a8a8a8;
                }
                .slick-dots {
                    display: flex;
                    min-width: 147px;
                    justify-content: space-between;
                    transition: all 0.5s;
                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        background-color:$color_text;
                        opacity: 0.15;
                        border-radius: 1.5px;
                        button {
                            font-size: 0;
                            width: 25px;
                            height: 3px;
                            opacity: 0.15;
                            background-color:none;
                            
                        }
                    }
                    li.slick-active{
                        opacity: 1;
                        button{
                            width: 34px;
                        }
                    }
                }
            }
        }

        .promo__right {
            position: relative;
            width: 46%;
            display: flex;
            justify-content: flex-end;

            .play {
                margin-top: 176px;
                display: flex;
                width: 295px;
                height: 135px;
                align-items: center;
                justify-content: space-between;
                text-decoration: none;

                &__img {
                    width: 120px;
                    height: 135px;
                    object-fit: contain;
                    margin-right: 17px;
                }

                &__descr {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: normal;
                    color: #ffffff;
                }
            }

            .promo__social {
                width: 170px;
                height: 12px;
                display: flex;
                justify-content: space-between;
                position: absolute;
                transform: rotate(90deg);
                bottom: 109px;
                right: -80px;

                &-link {
                    font-size: 12px;
                    font-weight: 500;
                    color: #a8a8a8;
                    text-decoration: none;
                }
            }
        }
    }
    .divider{
        position: absolute;
        height: 125px;
        background-image:url(../img/promo/divider.png);
        width: 100%;
        bottom: -63px;
        z-index: 4;
    }
    .cut{
        position: absolute;
        width: 325px;
        height: 239px;
        /* background-image:url(../img/promo/cut.png); */
        left: 53%;
        z-index: 5;
    }
}